<head>
    <title>Pogoji Zasebnosti</title>
</head>
<body>
    <h1>Pogoji Zasebnosti</h1>
    <p>Naša spletna stran se zavezuje k spoštovanju vaše zasebnosti in varovanju vaših podatkov v skladu z GDPR.</p>

    <h2>Zbiranje podatkov:</h2>
    <p>Zbiramo le nujne osebne podatke, kot so ime, e-poštni naslov in podobno, za namene izboljšanja vaše izkušnje na naši spletni strani.</p>

    <h2>Uporaba podatkov:</h2>
    <p>Vaše podatke uporabljamo izključno za interne namene in jih ne delimo z zunanjimi strankami brez vašega izrecnega dovoljenja.</p>

    <h2>Varovanje podatkov:</h2>
    <p>Zagotavljamo, da vaši podatki ostanejo varni in ščitimo vašo zasebnost pred nepooblaščenim dostopom.</p>

    <h2>Piškotki:</h2>
    <p>Naša spletna stran uporablja piškotke za sledenje uporabniškim navadam in izboljšanje delovanja spletne strani. Z nadaljnjo uporabo strani se strinjate z našo politiko <a href="@Url.Action("UporabaPiskotkov", "Home")">uporabe piškotkov</a>.</p>
</body>