<head>
    <title>Uporaba Piškotkov</title>
</head>
<body>
    <h1>Uporaba Piškotkov</h1>
    <p>Naša spletna stran uporablja piškotke za izboljšanje vaše uporabniške izkušnje in analizo obiskanosti.</p>

    <h2>Kaj so piškotki?</h2>
    <p>Piškotki so majhne besedilne datoteke, ki jih spletna stran shrani v vaš računalnik za izboljšanje delovanja in personalizacijo vsebine.</p>

    <h2>Kako uporabljamo piškotke?</h2>
    <p>Piškotke uporabljamo za analizo obiskanosti strani, prilagajanje vsebine ter izboljšanje vaše izkušnje našega spletnega mesta.</p>

    <h2>Upravljanje piškotkov:</h2>
    <p>Če želite, lahko spremenite nastavitve piškotkov v vašem brskalniku ali jih izbrišete. To lahko vpliva na delovanje spletne strani.</p>
</body>