@page
@model LoginModel

@{
    ViewData["Title"] = "Prijava";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-8">
        <section>
            <form id="account" method="post">
                <h2>Uporavite račun za prijavo.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <br />
                <div class="form-group">
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Input.Password" class="form-label">Geslo</label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <br />
                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Prijava</button>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Pozabljeno geslo?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Nimam še računa</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
